@font-face {
    font-family: 'norsebold';
    src: url('./fonts/norse-bold-webfont.woff2') format('woff2'),
         url('./fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
}

#leaf {
   width: 500px;
}

.logo {
    position: fixed;
    top: 25%;
    background-color: #000;
    opacity: 0.6;
    height: 150px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#icon {
    height: 130px;
}

.phrase {
    font-family: norsebold, sans-serif;
    font-size: 80px;
    display: inline;
    color: white;
    
}